<nav class="navbar navbar-expand navbar-light bg-light flex-column">
    <a class="navbar-brand mb-3" href="/">Cosmos Odyssey</a>
    <div class="navbar-nav flex-column">
        <NavLink class="nav-link" href="/">Search</NavLink>
        <NavLink class="nav-link" href="/reservations">Reservations</NavLink>
    </div>
</nav>